<div class="navbar">
  <div class="logo_div">
    <img src="/assets/N1_Logo.svg" class="logo"/>
  </div>
  <div class="arrow_div">
    <p class="english_p">English</p>
    <img class="down_arrow" height="10" src="/assets/down-arrow.svg">
  </div>
</div>
<div class="otp_container">
  <p class="verify_code_header">Enter verification code</p>
  <p class="info_msg">Please enter the 6-digit verification code sent to <b>mark@skyholding.dk</b>. It might take up to 5 min. to receive the email.</p>
  <p class="info_warn">Didn’t receive a code? <a style="color: #008b8b;text-decoration: none;" href="#">Send again</a></p>

  <form (ngSubmit)="onSubmit()" [formGroup]="otpForm">
    <div class="otp_input_container">
      <div class="form_input_div">
        <div *ngFor="let input of formInput.slice(0,3);  index as i">
          <input #formRow type="text" formControlName="{{input}}" (keyup)="keyDownEvent($event, i)"
            min="0" max="9" pattern="[0-9]{1}" onPaste="return false;" class="form_input">
        </div>
      </div>
      <span>
        -
      </span>
      <div class="form_input_div">
        <div *ngFor="let input of formInput.slice(3,6);  index as  i">
          <input #formRow type="text" formControlName="{{input}}" (keyup)="keyDownEvent($event, i+3)"
            min="0" max="9" pattern="[0-9]{1}" onPaste="return false;" class="form_input">
        </div>
      </div>
    </div>
    <button [disabled]="!otpForm.valid" type="submit" class="continue">Continue</button>
    <p class="wrong_email">Wrong email? Contact November First support</p>
  </form>
</div>
<div class="footer">
  <p>November First A/S  .  Danish FSA FT 22017</p>
</div>
